<h1>
  <a href="/admin/company">管理公司資訊</a>
</h1>

<hr>

<h1>目前職缺</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>edit</th>
  </tr>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.company.name %></td>
      <td><%= job.name %></td>
      <td><%= job.desc %></td>
      <td>
        <a href="/admin/jobs/<%= job.id %>/edit">edit</a>
      </td>
    </tr>
  <% end %>
</table>
