<h1>公司列表</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>more</th>
  </tr>

  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.desc %></td>
      <td>
        <a href="/companies/<%= company.id %>">more</a>
      </td>
    </tr>
  <% end %>
</table>
